.landing-background {
  background-image: url("/images/landing-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background: linear-gradient(180deg, rgba(75,75,75,1) 0%, rgba(255,255,255,1) 100%) !important;
  background-repeat: no-repeat !important;
}